h2 {
    text-align:center;
    font-family: "Open Sans",sans-serif;
    font-size: 40px;
    line-height: 38px;
    padding-bottom: 0;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    color:rgb(120, 192, 0);
    display: block;
    font-size: 1.5em;
 
    }
    h3 {
        text-align:center;
        font-family: "Open Sans",sans-serif;
        font-size: 30px;
        line-height: 28px;
        padding-bottom: 0;
        font-weight: 500;
        margin: 0;
        color:rgb(120, 192, 0);
        display: block;
        font-size: 1.2em;
     
        }
        h4 {
            text-align:center;
            font-family: "Open Sans",sans-serif;
            font-size: 20px;
            line-height: 18px;
            padding-bottom: 0;
            font-weight: 500;
            margin: 0;
            color:rgb(120, 192, 0);
            display: block;
            font-size: 1em;
         
            }
    .ribbon {
        position: absolute;
        top: 20px;
        right: -5px;
        padding: 15px;
    }
    .ribbon-content{
        position: relative; 
        width: 100%; 
        height: 100px; 
        //background: #f1f1f1; 
        //border: 1px solid #DDD;    
    }
    .ribbon.base {
        background: #3498db;
        color: #fff;
        border-right: 5px solid #8bc4ea;
    }
    .ribbon.light {
        background: #ecf0f1;
        color: #2c3e50;
        border-right: 5px solid #dde4e6;
    }
    .ribbon.dark {
        background: #131313;
        color: #fff;
        border-right: 5px solid #464646;
    }
    .ribbon.base-alt {
        background: #9cd70e;
        color: #fff;
        border-right: 5px solid #c6f457;
    }
    .ribbon.red {
        background: #e91b23;
        color: #fff;
        border-right: 5px solid #f2787d;
    }
    .ribbon.orange {
        background: #ff8a3c;
        color: #fff;
        border-right: 5px solid #ffc7a2;
    }
    .ribbon.yellow {
        background: #ffd800;
        color: #fff;
        border-right: 5px solid #ffe866;
    }
    .ribbon:before, .ribbon:after {
        content: '';
        position: absolute;
        left: -9px;
        border-left: 10px solid transparent;
    }
    .ribbon:before {
        top: 0;
    }
    .ribbon:after {
        bottom: 0;
    }
    .ribbon.base:before {
        border-top: 27px solid #3498db;
    }
    .ribbon.base:after {
        border-bottom: 27px solid #3498db;
    }
    .ribbon.light:before {
        border-top: 27px solid #ecf0f1;
    }
    .ribbon.light:after {
        border-bottom: 27px solid #ecf0f1;
    }
    .ribbon.dark:before {
        border-top: 27px solid #131313;
    }
    .ribbon.dark:after {
        border-bottom: 27px solid #131313;
    }
    .ribbon.base-alt:before {
        border-top: 27px solid #9cd70e;
    }
    .ribbon.base-alt:after {
        border-bottom: 27px solid #9cd70e;
    }
    .ribbon.red:before {
        border-top: 27px solid #e91b23;
    }
    .ribbon.red:after {
        border-bottom: 27px solid #e91b23;
    }
    .ribbon.orange:before {
        border-top: 27px solid #ff8a3c;
    }
    .ribbon.orange:after {
        border-bottom: 27px solid #ff8a3c;
    }
    .ribbon.yellow:before {
        border-top: 27px solid #ffd800;
    }
    .ribbon.yellow:after {
        border-bottom: 27px solid #ffd800;
    }
    .ribbon span {
        display: block;
        font-size: 16px;
        font-weight: 600;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    /** The Magic **/
    .btn-breadcrumb .btn:not(:last-child):after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 10px solid white;
        position: absolute;
        top: 50%;
        margin-top: -17px;
        left: 100%;
        z-index: 3;
       
      }
      .btn-breadcrumb .btn:not(:last-child):before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 10px solid rgb(173, 173, 173);
        position: absolute;
        top: 50%;
        margin-top: -17px;
        margin-left: 1px;
        left: 100%;
        z-index: 10;
      }
      
      /** The Spacing **/
      .btn-breadcrumb .btn {
        padding:6px 12px 6px 24px;
      }
      .btn-breadcrumb .btn:first-child {
        padding:6px 6px 6px 20px;
      }
      .btn-breadcrumb .btn:last-child {
        padding:6px 18px 6px 24px;
      }
      
      /** Default button **/
      .btn-breadcrumb .btn.btn-default:not(:last-child):after {
        border-left: 10px solid #fff;
      }
      .btn-breadcrumb .btn.btn-default:not(:last-child):before {
        border-left: 10px solid #ccc;
      }
      .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
        border-left: 10px solid #ebebeb;
      }
      .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
        border-left: 10px solid #adadad;
      }
      
      /** Primary button **/
      .btn-breadcrumb .btn.btn-primary:not(:last-child):after {
        border-left: 10px solid #428bca;
      }
      .btn-breadcrumb .btn.btn-primary:not(:last-child):before {
        border-left: 10px solid #357ebd;
      }
      .btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
        border-left: 10px solid #3276b1;
      }
      .btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
        border-left: 10px solid #285e8e;
      }
      
      /** Success button **/
      .btn-breadcrumb .btn.btn-success:not(:last-child):after {
        border-left: 10px solid #5cb85c;
      }
      .btn-breadcrumb .btn.btn-success:not(:last-child):before {
        border-left: 10px solid #4cae4c;
      }
      .btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
        border-left: 10px solid #47a447;
      }
      .btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
        border-left: 10px solid #398439;
      }
      
      /** Danger button **/
      .btn-breadcrumb .btn.btn-danger:not(:last-child):after {
        border-left: 10px solid #d9534f;
      }
      .btn-breadcrumb .btn.btn-danger:not(:last-child):before {
        border-left: 10px solid #d43f3a;
      }
      .btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
        border-left: 10px solid #d2322d;
      }
      .btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
        border-left: 10px solid #ac2925;
      }
      
      /** Warning button **/
      .btn-breadcrumb .btn.btn-warning:not(:last-child):after {
        border-left: 10px solid #f0ad4e;
      }
      .btn-breadcrumb .btn.btn-warning:not(:last-child):before {
        border-left: 10px solid #eea236;
      }
      .btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
        border-left: 10px solid #ed9c28;
      }
      .btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
        border-left: 10px solid #d58512;
      }
      
      /** Info button **/
      .btn-breadcrumb .btn.btn-info:not(:last-child):after {
        border-left: 10px solid #5bc0de;
      }
      .btn-breadcrumb .btn.btn-info:not(:last-child):before {
        border-left: 10px solid #46b8da;
      }
      .btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
        border-left: 10px solid #39b3d7;
      }
      .btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
        border-left: 10px solid #269abc;
      }
    
      #education {
        margin-top:0px;
      }
     