<section id="aboutme">
<h2>ABOUT ME</h2><br>
<p style="text-align: center;padding-top:10px">Few words About Myself</p>
<div class="container" style="margin:auto;">
  <h1>DEBASISH KALIA</h1>
  <h3>Full Stack Developer, Hyderabad</h3>
  <div style="padding-bottom:10px;padding-top:30px">
  By nature a Geek and I love to solve problems and leads to delivery technical challenges to ensure high value to the Organization. Strategic, customer-focused and full stack developer of a large team in global technology organizations.
  </div>
  <div style="padding-bottom:10px">
    I started my <b>Software Development</b> journey in 2013. I have excellent experience in software development life cycle activities using agile which includes analysis, design, development, unit and system testing, production deployment and postproduction support.
  </div>
  <div style="padding-bottom:10px">
    Though i started as a <b>.Net developer</b>, but now working on client side frameworks 
    like <b>Angular 2/4/6/7 </b>along with .Net Technologies.I am also exporing and getting my hands dirty into <b>Ethereum Blockchain,Solidity.</b>
  </div>
<div style="padding-bottom:10px">
Apart from work, i am a <b>part-time trainer</b> for full stack development course. I like to write technical articles and do have my own blog as well.
</div> 
<div style="padding-bottom:10px">
  <a href="https://sites.google.com/site/debasish22blog/" class="btn btn-primary">
    <fa-icon [icon]="faExternalLinkAlt"></fa-icon>LINK TO MY BLOG</a> 
</div>
</div>
</section>