<section id="aboutme" >
  <h2>WORK EXPERIENCE</h2>
  <br />
  <p style="text-align: center;padding-top:10px">projects that i have worked</p>

  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="ribbon-content">
        <div class="ribbon base"><span>2013-2015 ( ComakeIt )</span></div>
      </div>
    </div>
    <div class="jumbotron  col-lg-8 col-md-12 col-sm-12">
      <a href="https://www.comakeit.com/" class="btn btn-primary">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a> 
         
          <p class="lead">
              Woring as <b> Senior Software Engineer,</b>with responsibilities like
              guiding the junior resources, giving technical sessions to the team,take
              up new implementations to be done for the Project.I am working on a
              product called woontotaal. The tech stack which i am working currently
              includes Angular 7,.Net Core and Sql Server.
            </p>
      

     
      <!-- <hr class="my-4">
           <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="ribbon-content">
        <div class="ribbon base"><span>2017-2018 ( Wipro Tech )</span></div>
      </div>
    </div>
    <div class="jumbotron  col-lg-8 col-md-12 col-sm-12">
      <a href="https://www.wipro.com/" class="btn btn-primary">
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon
      ></a>
      <p class="lead">
            In wipro i worked as <b>Senior Project Engineer.</b>Here i was the part of
            the Blockchain Team(Ethereum) , where we did intensive R & D on Blockchain
            and build sample POCS or Proof On Concept on Blockchain Technologies.
      </p>
      <!-- <hr class="my-4">
               <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="ribbon-content">
        <div class="ribbon base"><span>2015-2017 ( GGk Tech )</span></div>
      </div>
    </div>
    <div class="jumbotron  col-lg-8 col-md-12 col-sm-12">
      <a href="https://ggktech.com/" class="btn btn-primary">
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon
      ></a>
      <p class="lead">
            Here at GGK Tech I worked as <b>Software Engineer</b> on mutiple projects with multiple tech stack.I
            mostly worked as a Full stack developer in most of the Projects worked
            over here. Apart from work i have done Certifications, given technical
            seminars mentored the junior resources in the Team.
      </p>
      <!-- <hr class="my-4">
                   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="ribbon-content">
        <div class="ribbon base"><span>2013-2015 ( Real Page )</span></div>
      </div>
    </div>
    <div class="jumbotron  col-lg-8 col-md-12 col-sm-12">
      <a href="" class="btn btn-primary">
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon
      ></a>
      <p class="lead">
        Worked as <b> Developer 1</b> on a product called lead2lease which is a part of leasestar suite <a>https://www.lead2lease.com/</a>
        As part of work i worked on bug fixes and new enhancements of the product in agile model.The techstack that I worked
        includes MVC5, Jquery and Sql Server.
      </p>
      <!-- <hr class="my-4">
                       <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
    </div>
  </div>
  
</section>
<!-- <div class="row" style="padding-left:20px">
    <div class="btn-group btn-breadcrumb">
      <a href="#" class="btn btn-primary">
        <fa-icon [icon]="faBuilding"></fa-icon
      ></a>
      <a href="#" class="btn btn-primary">Real Page</a>
      <a href="#" class="btn btn-primary">2013 - 2015</a>
      <a href="#" class="btn btn-primary">Developer 1</a>
    </div>
  </div>
    <div class="jumbotron  col-lg-8 col-md-8 col-sm-8">
   
        <p class="lead">I started my carrer with Real Page as <b> Developer 1.</b>
        I have been the part of product development Team called LeaseStar. 
        This product was bulit for the property management domain to help convert a lead to lease.
        My reposibilities include enhancing the product and bug fixes.
        </p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> 
        </div> -->
<!-- <div class="container ">
  <div class="row mb-20">
      <div class="col-md-3">
          <div class="ribbon-content">
              <div class="ribbon base"><span>2013-2015 ( Real Page )</span></div>
          </div>
      </div>
      </div>
      </div> -->
