h2 {
    text-align:center;
    font-family: "Open Sans",sans-serif;
    font-size: 40px;
    line-height: 38px;
    padding-bottom: 0;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    color:rgb(120, 192, 0);
    display: block;
    font-size: 1.5em;
 
    }

    #socialLinks{
        background-image: linear-gradient(to left bottom, #3a5ae9, #3a5ae9, #3a5ae9, #3a5ae9, #3a5ae9, #1572f4, #0087fb, #009bff, #00c1ff, #00dde2, #00f2a0, #bffb5f);
margin-top:0px
    }