<section id="education" style="background-color:#eee">
  <h2>CONTACT</h2><br>
  <p style="text-align: center;padding-top:10px">contact me to have a chat</p>
  <div class="fluid-container text-center" style="background-color:grey;" >
    <p style= "color:white"> <fa-icon [icon]="location"></fa-icon> Hyderabad, India </p>
    <p style= "color:white"> <fa-icon [icon]="phone"></fa-icon>+91 8143370816</p>
    <div id="socialLinks" style="margin-top:-5px">
      <h2>SOCIAL LINKS</h2><br>
      <p style= "color:white"> <fa-icon [icon]="faSearchLocation"></fa-icon> Hyderabad, India </p>
      <p style= "color:white"> <fa-icon [icon]="faSearchLocation"></fa-icon> Hyderabad, India </p>
      <p style= "color:white"> <fa-icon [icon]="faSearchLocation"></fa-icon> Hyderabad, India </p>
      <i class="fab fa-linkedin-in"></i>
     </div>
   </div>
  
  </section>
 