<section id="skills" style="background-color:#eee">
<h2>TECHNICAL SKILLS</h2>
<div class="container">
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12" >
   <div class="card">
    <circle-progress
  [percent]="70"
  [radius]="60"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"></circle-progress>
    <div class="card-body">
      <h4 class="ml-3">.NET</h4>
      <p class="card-text ml-3">.Net Framework,.Net Core,<br>c#,WebApi/core</p>
      </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
     <circle-progress
   [percent]="60"
   [radius]="60"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#78C000'"
   [innerStrokeColor]="'#C7E596'"
   [animation]="true"
   [animationDuration]="300"></circle-progress>
     <div class="card-body">
       <h5 class="ml-3">ORM</h5>
       <p class="card-text ml-3">EntityFramework 6, <br>EntityFramework Core</p>
       </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
     <circle-progress
   [percent]="85"
   [radius]="60"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#78C000'"
   [innerStrokeColor]="'#C7E596'"
   [animation]="true"
   [animationDuration]="300"></circle-progress>
     <div class="card-body">
       <h5 class="ml-3">SCRIPTING</h5>
       <p class="ml-3">Javascript,Jquery,<br>Angular 2+,Typescript</p>
       </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-12" >
      <div class="card">
       <circle-progress
     [percent]="75"
     [radius]="60"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'#78C000'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="300"></circle-progress>
       <div class="card-body">
         <h4 class="ml-3">DATABASE</h4>
         <p class="card-text ml-3">Sql Server,<br>MongoDb </p>
         </div>
     </div>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12">
       <div class="card">
        <circle-progress
      [percent]="70"
      [radius]="60"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"></circle-progress>
        <div class="card-body">
          <h5 class="ml-3">ORM</h5>
          <p class="card-text ml-3">EntityFramework 6, <br>EntityFramework Core</p>
          </div>
      </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
       <div class="card">
        <circle-progress
      [percent]="20"
      [radius]="60"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"></circle-progress>
        <div class="card-body">
          <h5 class="ml-3">EXPLORING</h5>
          <p class="ml-3">Azure,<br>Blockchain(Ethereum)</p>
          </div>
      </div>
      </div>
</div>
</div>
</section>


